html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-image: url("./img/simcity.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.flat {
  background-image: url(./img/explosion.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.gamespace {
  background-color: #000000;
  width: 180px;
  padding: .5em;
  margin: 50px auto;

}
button{
  margin-top: 90%;
  margin: .5em;
  padding: .2em 4em;
}

p{
  color: #ff0000;
  font-size: 1.5em
  font-family: monospace;
}